<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Serverless Express app with Nunjucks templating</title>
</head>
<body>
    {% include "components/header.njk" %}
    {% block body %}{% endblock %}
</body>
</html>